html,body,h1,h2,h3,h4,h5,h6 {
	font-family: "Roboto", sans-serif}

/*div { 
	border: 3px solid;
	padding: 5px; }*/

div.justify { 
	text-align: justify;
	background: #ffffcc; } 

img.profile {
	float:left;
	width: 30%;
	max-width: 100%;
	padding: 15px;
} 

.headings {
	font-size: 40px;
}

/*.profile {
	max-width: 100%;
	width: 70px;
}*/
